* {margin: 0; padding: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body {font-family: Arial, Helvetica, sans-serif; background: url(bg.gif) repeat top left; margin: 0 auto; max-width: 970px;}

li {list-style-type: none;}
ul {margin: 0 0 10px 20px;}

h1, h2, h3, h4, h5, h6 {margin-bottom: 10px;}

h1, h2 {font-family: 'Economica', sans-serif; color: #F92672; text-shadow: gray 1px 1px 5px;}
h1 {font-size: 70px;}
h2 {font-size: 40px;}

a {color: #81af24; text-decoration: none; font-weight: bold;}

p {margin-bottom: 10px;}

header {text-align: center;}

section {margin: 10px 0; padding: 10px 0;}

.highlight {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.highlight button {position: absolute; top: 10px; right: 10px;}

.result {
    display: none;
    border-top: 1px solid #A6E22E; 
    background: #47493e;
}

.clear {display: none;}
.show .clear {display: block;}
.show .run {display: none;}
.show .result {display: block;}

#docs > div {border-bottom: 1px solid gray; padding: 20px 0;}