* {margin: 0; padding: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body {font-family: Arial, Helvetica, sans-serif; background: url(bg.gif) repeat top left;}

h1, h2, h3, h4, h5, h6 {margin-bottom: 10px;}
p {margin-bottom: 10px;}

header {text-align: center;}
section {margin: 0 auto; max-width: 970px;}

h1 {font-size: 40px; font-family: 'Open Sans', sans-serif; color: #A6E22E; text-shadow: #749e20 -1px -1px 0;}

section > div {margin: 10px 0; border-bottom: 1px solid #272822; padding: 10px 0;}

.example {
    margin-bottom: 10px;
    position: relative;
}

.example button {position: absolute; top: 10px; right: 10px;}

.result {
    display: none;
    -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease;
    background: #000;
}

.clear {display: none;}
.show .clear {display: block;}
.show .run {display: none;}
.show .result {background: #EFEFEF; display: block;}
.show .result:hover {background: #000; display: block;}